
//////////////////////////////
//       COLORS            //
////////////////////////////

$Black:                    rgb(0, 0, 0);
$White:                    rgb(255, 255, 255);
$active3via:               rgb(246, 203, 22);
$facebook:                 rgb(59, 89, 152);
$twitter:                  rgb(85, 172, 238);
$H797979:                  rgb(121, 121, 121);
$HE6E6E6:                  rgb(230, 230, 230);


//////////////////////////////
//       PIXEL SIZES       //
////////////////////////////
//       Screen Width 1224px -> Root Font Size is 16px
//       Screen Width 992px -> Root Font Size is 12px
// 30px = 1rem
$px6:         0.200rem;
$px8:         0.500rem;
$px10:        0.333rem;
$px14:        0.467rem;
$px18:        0.600rem;
$px20:        0.667rem;
$px25:        0.833rem;
$px30:        1.000rem;
$px40:        1.333rem;
$px45:        1.500rem;
$px50:        1.667rem;
$px60:        2.000rem;
$px65:        2.167rem;
$px70:        2.333rem;
$px80:        2.667rem;
$px110:       3.667rem;
$px120:       4.000rem;
$px130:       4.333rem;
$px140:       4.667rem;
$px145:       4.833rem;
$px150:       5.000rem;
$px170:       5.667rem;
$px175:       5.833rem;
$px180:       6.000rem;
$px185:       6.167rem;
$px200:       6.667rem;
$px215:       7.167rem;
$px230:       7.667rem;
$px250:       8.333rem;
$px270:       9.000rem;
$px280:       9.333rem;
$px285:       9.500rem;
$px300:       10.000rem;
$px330:       11.000rem;
$px350:       11.667rem;
$px370:       12.333rem;
$px390:       13.000rem;
$px430:       14.333rem;
$px450:       15.000rem;
$px490:       16.333rem;
$px535:       17.833rem;
$px540:       18.000rem;
$px610:       20.333rem;
$px665:       22.167rem;
$px750:       25.000rem;
$px830:       27.667rem;
$px1000:      33.333rem;
$px1130:      37.667rem;
$px2100:      70.000rem;

// root 16px
// $px6:         0.375rem;
// $px8:         0.500rem;
// $px10:        0.438rem;
// $px14:        0.875rem;
// $px15:        0.938rem;
// $px16:        1.000rem;
// $px18:        1.125rem;
// $px20:        1.250rem;
// $px25:        1.563rem;
// $px30:        1.875rem;
// $px40:        2.500rem;
// $px45:        2.813rem;
// $px50:        3.125rem;
// $px60:        3.750rem;
// $px65:        4.063rem;
// $px80:        5.000rem;
// $px90:        5.625rem;
// $px110:       6.875rem;
// $px120:       7.500rem;
// $px130:       8.125rem;
// $px145:       9.063rem;
// $px153:       9.563rem;
// $px170:       10.625rem;
// $px175:       10.938rem;
// $px180:       11.250rem;
// $px185:       11.563rem;
// $px200:       12.500rem;
// $px250:       15.625rem;
// $px270:       16.875rem;
// $px280:       17.500rem;
// $px285:       17.813rem;
// $px300:       18.750rem;
// $px330:       20.625rem;
// $px350:       21.875rem;
// $px370:       23.125rem;
// $px390:       24.375rem;
// $px450:       28.125rem;
// $px540:       33.750rem;
// $px610:       38.125rem;
// $px665:       41.563rem;
// $px745:       46.563rem;
// $px750:       46.875rem;
// $px830:       51.875rem;
// $px1000:      62.500rem;
// $px1130:      70.625rem;
// $px2100:      131.250rem;
