
//////////////////////////////
//       COLORS            //
////////////////////////////

$Black:                    rgb(0, 0, 0);
$White:                    rgb(255, 255, 255);
$Active3via:               rgb(246, 203, 22);
$Facebook:                 rgb(59, 89, 152);
$Twitter:                  rgb(85, 172, 238);
$H797979:                  rgb(121, 121, 121);
$HE6E6E6:                  rgb(230, 230, 230);


//////////////////////////////
//       PIXEL SIZES       //
////////////////////////////
$px6:         0.200rem;
$px8:         0.267rem;
$px10:        0.333rem;
$px14:        0.467rem;
$px15:        0.500rem;
$px18:        0.600rem;
$px20:        0.667rem;
$px25:        0.833rem;
$px30:        1.000rem;
$px35:        1.167rem;
$px40:        1.333rem;
$px45:        1.500rem;
$px50:        1.667rem;
$px60:        2.000rem;
$px65:        2.167rem;
$px70:        2.333rem;
$px80:        2.667rem;
$px100:       3.333rem;
$px110:       3.667rem;
$px120:       4.000rem;
$px130:       4.333rem;
$px140:       4.667rem;
$px145:       4.833rem;
$px150:       5.000rem;
$px170:       5.667rem;
$px175:       5.833rem;
$px180:       6.000rem;
$px185:       6.167rem;
$px200:       6.667rem;
$px215:       7.167rem;
$px220:       7.333rem;
$px230:       7.667rem;
$px250:       8.333rem;
$px270:       9.000rem;
$px280:       9.333rem;
$px285:       9.500rem;
$px300:       10.000rem;
$px330:       11.000rem;
$px350:       11.667rem;
$px370:       12.333rem;
$px390:       13.000rem;
$px430:       14.333rem;
$px450:       15.000rem;
$px465:       15.500rem;
$px480:       16.000rem;
$px490:       16.333rem;
$px535:       17.833rem;
$px540:       18.000rem;
$px610:       20.333rem;
$px665:       22.167rem;
$px750:       25.000rem;
$px830:       27.667rem;
$px930:       31.000rem;
$px1000:      33.333rem;
$px1130:      37.667rem;
