
//////////////////////////////
//       COLORS            //
////////////////////////////

$Black:                    rgb(0, 0, 0);
$White:                    rgb(255, 255, 255);
$active3via:               rgb(246, 203, 22);
$H797979:                  rgb(121, 121, 121);


//////////////////////////////
//       PIXEL SIZES       //
////////////////////////////
//       Screen Width 1224px -> Root Font Size is 16px
//       Screen Width 992px -> Root Font Size is 12px
$px10:        0.438rem;
$px16:        1.000rem;
$px20:        1.250rem;
$px25:        1.563rem;
$px30:        1.875rem;
$px40:        2.500rem;
$px50:        3.125rem;
$px60:        3.750rem;
$px65:        4.063rem;
$px80:        5.000rem;
$px90:        5.625rem;
$px110:       6.875rem;
$px145:       9.063rem;
$px153:       9.563rem;
$px170:       10.625rem;
$px175:       10.938rem;
$px200:       12.500rem;
$px250:       15.625rem;
$px270:       16.875rem;
$px280:       17.500rem;
$px285:       17.813rem;
$px300:       18.750rem;
$px330:       20.625rem;
$px350:       21.875rem;
$px540:       33.750rem;
$px665:       41.563rem;
$px745:       46.563rem;
$px750:       46.875rem;
$px1130:      70.625rem;
