

%load-button img {
  width: $px270;
  margin: $px25 $px10 0;
}
%link-button {
  display: inline-block;
  color: $White;
  width: $px145;
  height: $px40;
  padding: $px10;
  border-radius: $px50;
  background: purple;
}
