

%load-button img {
  width: $px270;
  margin: $px25 $px10 0;
}
%link-button {
  display: inline-block;
  color: $White;
  width: $px145;
  height: $px40;
  padding: $px8;
  margin: $px45 $px8;
  border-radius: $px50;
}

%size-adjust {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
%relative {
  position: relative;
}
