@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url(../../fonts/montserrat-bold.otf) format("opentype"); }
@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  src: url(../../fonts/montserrat-regular.otf) format("opentype"); }
@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  src: url(../../fonts/montserrat-light.otf) format("opentype"); }
@font-face {
  font-family: 'Tex Gyre Adventor Bold';
  font-style: normal;
  src: url(../../fonts/texgyreadventor-bold.otf) format("opentype"); }
@font-face {
  font-family: 'Tex Gyre Adventor Italic';
  font-style: italic;
  src: url(../../fonts/texgyreadventor-italic.otf) format("opentype"); }
header .load img, main .packs_section .load img {
  width: 9rem;
  margin: 0.833rem 0.333rem 0; }

footer .links div {
  display: inline-block;
  color: white;
  width: 4.833rem;
  height: 1.333rem;
  padding: 0.267rem;
  margin: 1.5rem 0.267rem;
  border-radius: 1.667rem; }

*, *:before, *:after {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

main .cards_section, main .cards_section .cards, main .packs_section .packs, main .packs_section .hand {
  position: relative; }

*, *:before, *:after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  width: 1200px;
  margin: 2rem auto;
  text-align: center; }
  body h1 span {
    color: #f6cb16; }
  body a, body a:hover {
    color: inherit;
    text-decoration: blink; }
  body img {
    width: 100%; }
  body textarea, body input, body button {
    padding: 0px;
    border: none;
    background: none;
    outline: none; }
    body textarea:focus::-webkit-input-placeholder, body input:focus::-webkit-input-placeholder, body button:focus::-webkit-input-placeholder {
      opacity: 0; }

@media only screen and (min-width: 1440px) {
  html {
    font-size: 30px;
    line-height: 45px;
    font-family: "Montserrat Regular"; } }
@media only screen and (max-width: 1440px) {
  html {
    font-size: 22px;
    line-height: 33px;
    font-family: "Montserrat Regular"; } }
@media only screen and (max-width: 1280px) {
  html {
    font-size: 20px;
    line-height: 30px;
    font-family: "Montserrat Regular"; } }
header {
  margin-bottom: 3.333rem; }
  header h1 {
    font-size: 2.167rem;
    line-height: 3.2505rem;
    font-family: "Tex Gyre Adventor Bold";
    margin: 1.667rem auto 2.667rem; }
  header .logo {
    width: 5.833rem; }
  header .app_icon {
    width: 11rem; }

main h1 {
  font-size: 2rem;
  line-height: 2.7rem;
  font-family: "Tex Gyre Adventor Bold"; }
main p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: "Montserrat Regular";
  margin: 0.333rem auto 0.667rem; }
  main p i {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Tex Gyre Adventor Italic"; }
main .cards_section {
  padding: 5rem 0 1.667rem;
  color: white; }
  main .cards_section::before {
    content: '';
    -webkit-transform: skew(0deg, -5deg);
    -moz-transform: skew(0deg, -5deg);
    -o-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    position: absolute;
    left: calc((-100vw + 100%)/2);
    top: calc(0.087488663525924 * 53%);
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: -10;
    margin: 0;
    height: 100%;
    background: #f6cb16 url(../../img/yellow-bg.jpg) center center no-repeat;
    background-size: cover; }
  main .cards_section .cards {
    width: 16rem;
    height: 15.5rem; }
    main .cards_section .cards .card#back {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 10rem;
      z-index: 1;
      margin: 0; }
    main .cards_section .cards .card#front {
      position: absolute;
      left: initial;
      top: initial;
      right: 0;
      bottom: 0;
      width: 10rem;
      z-index: 1;
      margin: 0; }
@media only screen and (max-width: 1440px) {
  main .steps_section .step {
    width: 90%; } }
main .steps_section .step:nth-child(odd) .step_img, main .steps_section .step:nth-child(even) .step_text {
  text-align: left;
  width: 50%;
  margin-left: 0; }
  main .steps_section .step:nth-child(odd) .step_img.step_img, main .steps_section .step:nth-child(even) .step_text.step_img {
    position: relative; }
  main .steps_section .step:nth-child(odd) .step_img.step_text, main .steps_section .step:nth-child(even) .step_text.step_text {
    text-align: center; }
main .steps_section .step:nth-child(odd) .step_text, main .steps_section .step:nth-child(even) .step_img {
  text-align: right;
  width: 50%;
  margin-right: 0; }
  main .steps_section .step:nth-child(odd) .step_text.step_img, main .steps_section .step:nth-child(even) .step_img.step_img {
    position: relative; }
  main .steps_section .step:nth-child(odd) .step_text.step_text, main .steps_section .step:nth-child(even) .step_img.step_text {
    text-align: center; }
@media only screen and (max-width: 1440px) {
  main .steps_section .step#step1 .step_img {
    margin-top: 1rem; } }
@media only screen and (max-width: 1280px) {
  main .steps_section .step#step1 .step_img {
    margin-top: 1.5rem; } }
main .steps_section .step#step1 .step_img #tv {
  position: absolute;
  left: -1rem;
  top: calc(-0.087488663525924 * 600px);
  right: 0;
  bottom: 0;
  width: 25rem;
  z-index: -1;
  margin: 0; }
main .steps_section .step#step1 .step_img #box {
  position: absolute;
  left: 13rem;
  top: 12.333rem;
  right: 0;
  bottom: 0;
  width: 9rem;
  z-index: 1;
  margin: 0; }
main .steps_section .step#step1 .step_text {
  padding: 5rem 0; }
main .steps_section .step#step2 .step_img #remote {
  position: absolute;
  left: -3.667rem;
  top: 7.333rem;
  right: 0;
  bottom: 0;
  width: 25rem;
  z-index: 1;
  margin: 0; }
  @media only screen and (max-width: 1440px) {
    main .steps_section .step#step2 .step_img #remote {
      position: absolute;
      left: -3.667rem;
      top: 6.667rem;
      right: 0;
      bottom: 0;
      width: 25rem;
      z-index: 1;
      margin: 0; } }
main .steps_section .step#step2 .step_text {
  padding: 6rem 0 3.333rem; }
main .steps_section .step#step3 .step_img img {
  height: 5rem; }
  main .steps_section .step#step3 .step_img img#classic {
    position: absolute;
    left: 2.167rem;
    top: 2.667rem;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 1;
    margin: 0; }
  main .steps_section .step#step3 .step_img img#deathmatch {
    position: absolute;
    left: 9rem;
    top: 2.667rem;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 1;
    margin: 0; }
  main .steps_section .step#step3 .step_img img#speed {
    position: absolute;
    left: 15rem;
    top: 2.667rem;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 1;
    margin: 0; }
main .steps_section .step#step3 .step_text {
  padding: 0 0 2.667rem; }
main .steps_section .step#step4 .step_img #question {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11rem;
  z-index: 1;
  margin: 0; }
main .steps_section .step#step4 .step_img #code {
  position: absolute;
  left: 6.667rem;
  top: 1.333rem;
  right: 0;
  bottom: 0;
  width: 9.5rem;
  z-index: -1;
  margin: 0; }
main .steps_section .step#step4 .step_text {
  padding: 4.333rem 0 9rem; }
main .packs_section .packs {
  height: 33.333rem; }
  @media only screen and (max-width: 1440px) {
    main .packs_section .packs {
      height: 31rem;
      width: calc(100% - 15rem); } }
  @media only screen and (max-width: 1280px) {
    main .packs_section .packs {
      height: 31rem;
      width: calc(100% - 20rem); } }
  main .packs_section .packs .pack#castle {
    position: absolute;
    left: -2.333rem;
    top: 0;
    right: 0;
    bottom: 0;
    width: 33.333rem;
    z-index: 1;
    margin: 0; }
  main .packs_section .packs .pack#field {
    position: absolute;
    left: 14.333rem;
    top: 2.333rem;
    right: 0;
    bottom: 0;
    width: 33.333rem;
    z-index: 2;
    margin: 0; }
  main .packs_section .packs .pack#orange {
    position: absolute;
    left: -7.667rem;
    top: 7.167rem;
    right: 0;
    bottom: 0;
    width: 33.333rem;
    z-index: 3;
    margin: 0; }
  main .packs_section .packs .pack#panda {
    position: absolute;
    left: 4.667rem;
    top: 7.667rem;
    right: 0;
    bottom: 0;
    width: 33.333rem;
    z-index: 4;
    margin: 0; }
  main .packs_section .packs .pack#mountain {
    position: absolute;
    left: 17.833rem;
    top: 9.333rem;
    right: 0;
    bottom: 0;
    width: 33.333rem;
    z-index: 3;
    margin: 0; }
  main .packs_section .packs .pack#flower {
    position: absolute;
    left: -9.333rem;
    top: 14.333rem;
    right: 0;
    bottom: 0;
    width: 33.333rem;
    z-index: 2;
    margin: 0; }
  main .packs_section .packs .pack#aurora {
    position: absolute;
    left: 8.333rem;
    top: 16.333rem;
    right: 0;
    bottom: 0;
    width: 33.333rem;
    z-index: 1;
    margin: 0; }
main .packs_section h1 {
  padding: 1.667rem 0; }
main .packs_section .load {
  margin: 1.5rem auto 4rem; }
main .packs_section .hand {
  line-height: 0; }
  main .packs_section .hand img {
    width: 5.667rem; }
  main .packs_section .hand .divider {
    position: absolute;
    left: calc( (100% - 65%)/2);
    top: initial;
    right: 0;
    bottom: 0;
    width: 65%;
    z-index: 1;
    margin: 0;
    height: 1px;
    background: #e6e6e6; }

footer .links div {
  font-size: 0.5rem;
  line-height: 0.75rem;
  font-family: "Montserrat Regular"; }
  @media only screen and (max-width: 1280px) {
    footer .links div {
      font-size: 0.6rem;
      line-height: 0.798rem;
      font-family: "Montserrat Regular"; } }
  footer .links div#terms {
    background: #f6cb16; }
  footer .links div#contact {
    background: black; }
  footer .links div#fb {
    background: #3b5998; }
  footer .links div#tw {
    background: #55acee; }
footer p {
  font-size: 0.5rem;
  line-height: 0.75rem;
  font-family: "Montserrat Light";
  color: #797979; }
  @media only screen and (max-width: 1280px) {
    footer p {
      font-size: 0.6rem;
      line-height: 1.2rem;
      font-family: "Montserrat Light"; } }
footer img {
  width: 9.333rem;
  margin: 0.467rem auto 0.6rem; }

/*# sourceMappingURL=application.css.map */
