

footer {
  .links div {
    @include font( $px15, $fontMontserratRegular );
    @extend %link-button;
    &#terms {
      background: $active3via;
    }
    &#contact {
      background: $Black;
    }
    &#fb {
      background: $facebook;
    }
    &#tw {
      background: $twitter;
    }
  }
  p {
    @include font( $px15, $fontMontserratLight );
    color: $H797979;
  }
  img {
    width: $px280;
    margin: $px14 auto $px18;
  }
}
