

footer {
  .links div {
    @extend %link-button;
    @include font( $px15, $fontMontserratRegular );
    &#terms { background: $Active3via; }
    &#contact { background: $Black; }
    &#fb { background: $Facebook; }
    &#tw { background: $Twitter; }
  }
  p {
    @include font( $px15, $fontMontserratLight );
    color: $H797979;
  }
  img {
    width: $px280;
    margin: $px14 auto $px18;
  }
}
